#nav {
    width: 99,8%;
    padding: 10px;
    background-color: #f4e5e5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    /* border-top-left-radius: 9%; 
    border-top-right-radius: 9%; */
}

#izquierda,
#centro,
#derecha {
    display: flex;
    align-items: center;
}

#menuDesplegable {
    display: none;
}

#imagenIzquierda {
    margin-left: 25%;
    width: 70px;
    height: 70px;
}

#imagenDerecha {
    margin-right: 25%;
    width: 70px;
    height: 70px;
}

h1 {
    margin: 0;
    color: black;
}